.card{
    border: 0.5rem solid black;
    justify-content: space-between;
    margin: 10px;
    padding: 5px;
    opacity: 0;
    transform: scale(1.2);
}

.card picture img{
    width: 200px;
    height: 150px;
}

@media (prefers-reduced-motion: no-preference) {
    .card {
        transition: opacity 1.5s ease, transform 1.5s ease;
    }
}

.card-transition {
    opacity: 1;
    transform: none;
}

.company_container{
    display: flex;
}

.company_container, .experience_container{
    margin: 10px;
}

.company_row{
    width: 50%;
}