.card{
    border: 0.5rem solid black;
    justify-content: space-between;
    transition: opacity 1.5s ease, transform 1.5s ease;
}

.work_card, .project_card{
    opacity: 0;
    transform: scale(1.2);
    margin: 10px;
    padding: 5px;
}

.card picture img{
    width: 250px;
    height: 150px;
}

.card-transition {
    opacity: 1;
    transform: none;
}

.company_container{
    display: flex;
}

.company_container, .experience_container{
    margin: 10px;
}

.company_row{
    width: 50%;
}

.social{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: url("../img/github.jpeg");
    background-size: contain;
}

.social:hover{
    cursor: pointer;
    opacity: 0.6;
    width: 40px;
    height: 40px;
}