.card{
    border: 0.5rem solid black;
    justify-content: space-between;
}

.work_card, .project_card{
    opacity: 0;
    transform: scale(1.2);
    margin: 10px;
    padding: 5px;
}

.card picture img{
    width: 250px;
    height: 150px;
}

.card {
    transition: opacity 1.5s ease, transform 1.5s ease;
}

.card-transition {
    opacity: 1;
    transform: none;
}

.company_container{
    display: flex;
}

.company_container, .experience_container{
    margin: 10px;
}

.company_row{
    width: 50%;
}