:root{
    --title_font: "Montserrat";
    --navbar_font: "Courier New";
    --body_font: "Baskerville";

    /* Below taken from: https://stackoverflow.com/questions/4772906/css-is-it-possible-to-add-a-black-outline-around-each-character-in-text*/
    --shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;

    /* Color ref: http://www.zovirl.com/2011/07/22/solarized_cheat_sheet/*/
    --solarized_dark: rgb(0,43, 54);
    --solarized_light: rgb(253, 246, 227);
    --solarized_base: rgb(238, 232, 213);
    --solarized_base2: rgb(253, 246, 227);
    --solarized_orange: rgb(203, 75, 22);
    --solarized_yellow: rgb(181, 137, 0);
}

.solarized-base2{
    background-color: var(--solarized_base2);
}

.solarized-base{
    background-color: var(--solarized_base);
}

.solarized-light{
    background-color: var(--solarized_light);
}

.solarized-dark{
    background-color: var(--solarized_dark);
}

.ghostwhite{
    background-color: ghostwhite;
}

.section_container{
    display: flex;
    height: 100vh;
}

.half_section_container{
    display: flex;
    height: 70vh;
}

.paragraph{
    font-family: var(--body_font);
}

.x-large-font{
    font-size: x-large;
}

.title-font{
    font-family: var(--title_font);
}

.color div{
    margin: 30px;
}

.bold{
    font-weight: bold;
}


/* For web links*/
.links{
    text-decoration: none;
}

.links:hover{
    text-decoration: underline;
}

/* For content section top buttons*/
.topBtn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
    border: 2px solid black;
    cursor: pointer;
    color: white;
    font-size: xx-large;
}

.topBtn:hover{
    background-color: red;
    border: 2px red;
    opacity: 0.6;
}

/* No display text for social media links*/
.no-display{
    opacity: 0;
    position: absolute;
    margin-top: -100px;
    margin-left: -100px;
}


