.form_container{
    width: 80%;
    margin: auto;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.form_content_container{
    display: flex;
}

.btn {
    margin-left: 5px;
}