.parallax {
    background-image: url("../jiangha4.github.io/img/portland_forest.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-intro {
    height: 100vh;
}

.parallax-end {
    height: 200px;
}

.intro_text_container{
    position: relative;
    text-align: center;
}
.parallax-intro h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-right: .15em solid orange;
    color: white;
    font-family: "Courier";
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    letter-spacing: .15em;

    width: auto;
    display: inline-block;


    animation-fill-mode: forwards;
    animation: type 3.5s steps(35, end),
                blink-caret .75s step-end infinite;
}

@keyframes type{
    from { max-width: 0 }
    to { max-width: 100%}
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
}

.card picture img{
    width: 200px;
    height: 150px;
}