.parallax {
    background-image: url("https://via.placeholder.com/150");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}