.nav_bar_container{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.nav_link, .nav_link:hover{
    color: black;
    font-family: var(--navbar_font);
    margin: 10px;
    font-size: large;
}

nav.navbar{
    background: transparent;
    position: relative;
    float: right;
}