.nav_bar_container{
    width: 100%;
    margin: 0;
}

.dividers {
    font-size: x-large;
}

.nav-link{
    font-family: "Gill Sans", sans-serif;
    font-weight: bold;
    color: black;
}

.nav-link:hover{
    text-decoration: underline;
    text-decoration-color: black;
}