.profile_div {
    display: flex;
    height: 100vh;
}

.color_section{
    background: blanchedalmond no-repeat left top;
    background-size: 100% 100%;
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile_section{
    flex: 1;
    height: 100%;
    overflow: auto;
    padding: 10px;
    background-color: ghostwhite;
}

.profile_image_container{
    text-align: center;
}

.profile_image{
    border-radius: 25%;
    max-width: 200px;
    max-height: 250px;
    margin: 15px;
}

.color_section h1{
    font-family: Superclarendon;
    font-size: xxx-large;
    font-weight: bold;
    color: white;
    z-index: 10;
    /* Below taken from: https://stackoverflow.com/questions/4772906/css-is-it-possible-to-add-a-black-outline-around-each-character-in-text*/
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.profile_title_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
}

.profile_paragraph_container p{
    font-family: PT Serif;
}

.profile_intro_paragraph{
    font-weight: bold;
}

.image_grid_picture{
    width: 90%;
    margin: 20px;
    border-style: solid;
    border-radius: 2%;
}

.row{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column{
    flex: 50%;
    padding: 0 4px;
}