.profile_image_container{
    text-align: center;
}

.profile_image{
    border-radius: 25%;
    max-width: 60%;
    max-height: 50%;
    margin: 15px;
}

.profile_paragraph, .profile_intro_line{
    font-family: var(--body_font);
    margin-left: 15px;
}

.profile_intro_line, .work_profile{
    font-weight: bold;
}


/* Profile intro text */
.code_console{
    color: purple;
    font-style: italic;
    font-weight: bolder;

}

.code_function{
    color: gold;
    font-weight: bold;
}

.code_keyword{
    color: orange;
    font-weight: bold;
}

.work_text{
    font-weight: bold;
}
