/* Profile */
.profile_image_container{
    text-align: center;
}

.profile_image{
    border-radius: 25%;
    max-width: 55%;
    max-height: 45%;
    margin: 15px;
}

.profile_paragraph_container{
    margin: 15px;
}

.profile_paragraph, .indent{
    margin: 15px;
}

.profile_intro_line, .work_profile{
    font-weight: bold;
}
